html,body
{
    height: 75%;
}

body
{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr auto;

}
/*use height to maniplulate grid display as requested*/


/*gave all seperate pieces of css different colored borders easier to read*/
header
{
    text-align: center;
    border: 1px solid slategray;
    grid-column: 1;
    grid-row: 1;
}


section
{
    text-align: center;
    border: 1px solid blueviolet;
    grid-column: 2;
    grid-row: 1/3;

}

article
{
    text-align: center;
    border: 1px solid greenyellow;
    grid-column: 1;
    grid-row: 2/4;
}

footer
{
    text-align: center;
    border: 1px solid deeppink;
}
/*give it all da classes for requirements*/
.Small
{
    font-size: 12px;
}

.red
{
    background: red;
}

.blue
{
    background: blue;
}

.h2
{
}